<!doctype html>
<title>Add face to database</title>
<h2>Select a face image to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ url_for('faces.upload', filename=filename) }}">
	</div>
{% endif %}
<form method="post" action="/faces" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
		<input type="text" name="name" required/>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>