<!doctype html>
<title>Face Detector</title>
<h2>Select your face to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ url_for('detector.upload', filename=filename) }}">
	</div>
{% else %}
<form method="post" action="/detector" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" accept="image/*" capture name="file" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% endif %}
